


.settings_table_panel {
    max-height: 150px;
    overflow: auto;
    max-width: 400px;
    border: 1px solid black;
}

.big_title {
    font-size: large;
    color: rgb(224, 164, 43);
}

.big_subtitle_text {
    font-size: 10px;
    color: black;
}

.lastupdated_line {
    font-style: italic;
    color:rgb(175, 175, 175);

}


.panels_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.panel_block {
    width: 30%;
}

.current_reading {
    color: black;
}

.chan_voltage_cell_content {
    display:inline-block;
    margin-right: 5px;
    white-space: nowrap;
}

.logging_panel
{
    height:100px;
    overflow-x:scroll;
    overflow-y:scroll;
}

.logline_datetime {
    display:inline-block;
    margin-right: 5px;
    white-space: nowrap;
    color:rgb(175, 175, 175);
    font-family: monospace;
}
.logline_datetime.log_error {
    color: black;
    font-weight: bold;
    /* background-color: rgb(255, 255, 99); */
}

.logline_text {
    display:inline-block;
    white-space: nowrap;
    font-family: monospace;
    color: black;
}
.logline_text.log_error {
    color: red;
    font-weight: bold;
    background-color: rgb(255, 255, 99);
}

/* .logging_line  */
