<!DOCTYPE html>
<html>
  <head>
    <title>Potentiostat</title>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="/static/scripts/main.js"></script>
    <head>
    <link rel="stylesheet" href="/static/css/mainstyles.css">
  </head>
  <body>
    <div id="appDiv"></div>
    <script type="module">
        import { setupApp } from "/static/scripts/main.js";

        setupApp(document.getElementById("appDiv"));
    </script>
  </body>
</html>